@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

html, body {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0px auto;
  aspect-ratio: 16/9;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tp-rotv_c {
  display: none;
}